<fs-examples [config]="config">
  <fs-example
      name="Example"
      componentName="example">
    <example></example>
  </fs-example>
  <fs-example
      name="Sortable"
      componentName="example-sortable">
    <example-sortable></example-sortable>
  </fs-example>
  <fs-example
      name="Sortable With Selected"
      componentName="example-sortable-selected">
    <example-sortable-selected></example-sortable-selected>
  </fs-example>
  <fs-example
      name="ngModel Example"
      componentName="example-with-array">
    <example-with-array></example-with-array>
  </fs-example>
  <fs-example
      name="Custom Compare Function"
      componentName="example-with-array">
    <example-with-custom-compare></example-with-custom-compare>
  </fs-example>
  <fs-example
      name="Example With Single Selection"
      componentName="example-single-selection">
    <example-single-selection></example-single-selection>
  </fs-example>
</fs-examples>