<div class="fs-row.gap-md.wrap">
  <fs-label-field>
    <fs-label>
      Show Image
    </fs-label>
    <mat-checkbox
      [(ngModel)]="showImage"
      (ngModelChange)="imageChanged()">
    </mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Show Icon
    </fs-label>
    <mat-checkbox [(ngModel)]="showIcon"></mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Show Remove
    </fs-label>
    <mat-checkbox
      [(ngModel)]="removable"
      (ngModelChange)="removedChanged()">
    </mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Show Actions
    </fs-label>
    <mat-checkbox
      [(ngModel)]="actionable"
      (ngModelChange)="actionsChanged()">
    </mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Show Selected
    </fs-label>
    <mat-checkbox
      [(ngModel)]="selected"
      (ngModelChange)="selectedChanged()">
    </mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Show Prefix
    </fs-label>
    <mat-checkbox
      [(ngModel)]="showPrefix"
      (ngModelChange)="refresh()">
    </mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Allow Selectable
    </fs-label>
    <mat-checkbox
      [(ngModel)]="selectable"
      (ngModelChange)="selectedChanged()">
    </mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Show Outlined
    </fs-label>
    <mat-checkbox [(ngModel)]="outlined"></mat-checkbox>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Show Outline Dash
    </fs-label>
    <mat-checkbox [(ngModel)]="outlineDash"></mat-checkbox>
  </fs-label-field>
</div>
<div class="fs-row.gap-md.wrap">
  @if (!outlined) {
    <mat-form-field>
      <mat-label>
        Background Color
      </mat-label>
      <input
        matInput
        fsColorPicker
        [(ngModel)]="backgroundColor">
    </mat-form-field>
  }
  <mat-form-field>
    <mat-label>
      Color
    </mat-label>
    <input
      matInput
      fsColorPicker
      [(ngModel)]="color">
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Size
    </mat-label>
    <mat-select [(ngModel)]="size">
      <mat-option value="large">
        Large
      </mat-option>
      <mat-option value="medium">
        Medium
      </mat-option>
      <mat-option value="small">
        Small
      </mat-option>
      <mat-option value="tiny">
        Tiny
      </mat-option>
      <mat-option value="micro">
        Micro
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br>
<div class="fs-row.gap-md.wrap.align-start">
  <fs-label-field>
    <fs-label>
      Round shape
    </fs-label>
    <ng-container *ngTemplateOutlet="chipTemplate; context: { shape: 'round' }"></ng-container>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Square shape
    </fs-label>
    <ng-container *ngTemplateOutlet="chipTemplate; context: { shape: 'square' }"></ng-container>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Square shape with subcontent
    </fs-label>
    <ng-container *ngTemplateOutlet="chipTemplate; context: { shape: 'square', subcontent: 'Subcontent' }"></ng-container>
  </fs-label-field>
</div>
<ng-template
    #chipTemplate
    let-shape="shape"
    let-subcontent="subcontent">
  @if (show) {
    <fs-chip
        [backgroundColor]="outlined ? undefined : backgroundColor"
        [image]="image"
        [shape]="shape"
        [color]="color"
        [selected]="selected"
        [selectable]="selectable"
        [removable]="removable"
        [outlined]="outlined"
        [outlineDash]="outlineDash"
        (click)="chipClicked()"
        [icon]="showIcon ? 'settings' : null"
        [size]="size"
        (removed)="chipRemoved()">
      @if (showPrefix) {
        <ng-template
          fsChipPrefix
          [icon]="'add_circle_outline'"
          (click)="prefixClick()">
        </ng-template>
        <ng-template
          fsChipSuffix
          [icon]="'edit'"
          (click)="suffixClick()">
        </ng-template>
      }
      Tag A
      @for (action of actions; track action.icon) {
        <ng-template
          fsChipSuffix
          [icon]="action.icon"
          (click)="action.click($event)">
        </ng-template>
      }
      @if (subcontent) {
        <ng-template fsChipSubcontent>
          {{ subcontent }}
        </ng-template>
      }
    </fs-chip>
  }
</ng-template>