
<div class="fs-row.gap-md.wrap">
  <fs-label-field>
    <fs-label>Show Image</fs-label>
    <mat-checkbox [(ngModel)]="showImage" (ngModelChange)="imageChanged()"></mat-checkbox>
  </fs-label-field>

  <fs-label-field>
    <fs-label>Show Icon</fs-label>
    <mat-checkbox [(ngModel)]="showIcon"></mat-checkbox>
  </fs-label-field>

  <fs-label-field>
    <fs-label>Show Remove</fs-label>
    <mat-checkbox [(ngModel)]="removable" (ngModelChange)="removedChanged()"></mat-checkbox>
  </fs-label-field>

  <fs-label-field>
    <fs-label>Show Selected</fs-label>
    <mat-checkbox [(ngModel)]="selected" (ngModelChange)="selectedChanged()"></mat-checkbox>
  </fs-label-field>

  <fs-label-field>
    <fs-label>Allow Selectable</fs-label>
    <mat-checkbox [(ngModel)]="selectable" (ngModelChange)="selectedChanged()"></mat-checkbox>
  </fs-label-field>

  <fs-label-field>
    <fs-label>Show Outlined</fs-label>
    <mat-checkbox [(ngModel)]="outlined"></mat-checkbox>
  </fs-label-field>
</div>

<div class="fs-row.gap-md.wrap">
  <mat-form-field *ngIf="!outlined">
    <input matInput fsColorPicker [(ngModel)]="backgroundColor" placeholder="Background Color">
  </mat-form-field>

  <mat-form-field>
    <input matInput fsColorPicker [(ngModel)]="color" placeholder="Color">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Size</mat-label>
    <mat-select [(ngModel)]="size">
      <mat-option value="">Default</mat-option>
      <mat-option value="small">Small</mat-option>
      <mat-option value="tiny">Tiny</mat-option>
      <mat-option value="micro">Micro</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br>

  <fs-chip
    [backgroundColor]="backgroundColor"
    [image]="image"
    [color]="color"
    [selected]="selected"
    [selectable]="selectable"
    [removable]="removable"
    [outlined]="outlined"
    [icon]="showIcon ? 'settings' : null"
    [size]="size"
    (removed)="chipRemoved($event)">
    Tag A
  </fs-chip>


