<div fxLayout="row wrap" fxLayoutGap="15px">
  <fs-label>Select by checkbox</fs-label>
  <mat-checkbox *ngFor="let chip of listOfChips"
                [value]="chip"
                (change)="selectionChange(chip.value)"
  >{{ chip.name }}
  </mat-checkbox>
</div>
<br>
<div fxLayout="row wrap" fxLayoutGap="15px">
  <fs-label>Tags</fs-label>
  <fs-chips [(ngModel)]="selected" [compare]="compare">
    <fs-chip
      *ngFor="let chip of listOfChips"
      [value]="chip.value"
    >
      {{ chip.name }}
    </fs-chip>
  </fs-chips>
</div>
<br>
<div fxLayout="row wrap" fxLayoutGap="15px">
  <fs-label>Result</fs-label>
  {{selected | json}}
</div>


