.fs-chip {
  user-select: none;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  padding: 0px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  height: 32px;
  background-color: #e0e0e0;

  &.imaged {
    overflow: visible;
    padding-left: 0;

    &.outlined .image {
      margin-left: -2px;
    }
  }

  &.removable,
  &.selected {
    padding-right: 3px;
  }

  &.selectable {
    cursor: pointer;
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
  }

  .image {
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    width: 32px;
    margin-left: -1px;
    margin-right: 8px;
  }

  .fs-chip-content {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selected-check {
    margin: 0 5px;
    display: flex;
  }

  .remove {
    display: flex;
    margin-left: 5px;
    cursor: pointer;
    mat-icon {
      transform: scale(.9);
      color: #929292;
    }
  }
}

.fs-chips {
  display: flex;
  flex-wrap: wrap;

  &.has-chips {
    margin-top: -5px;
  }

  .fs-chip {
    margin-right: 5px;
    margin-top: 5px;
  }
}

.fs-chip.small {
  padding: 0 8px;
  font-size: 85%;
  height: 22px;

  .image {
    height: 22px;
    width: 22px;
  }

  &.imaged {
    padding-left: 0;
  }

  &.removable,
  &.selected {
    padding-right: 0;
  }
}

.fs-chip.tiny {
  padding: 0 6px;
  height: 18px;

  .fs-chip-content {
    font-size: 75%;
  }

  .image {
    height: 18px;
    width: 18px;
  }

  &.imaged {
    padding-left: 0;
  }

  &.removable,
  &.selected {
    padding-right: 0px;
  }
}
