@use '@firestitch/style/styles' as fs-styles;

.fs-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  &.chips-sortable {
    gap: 8px;
    flex-direction: column;

    ::ng-deep {
      .cdk-drag-placeholder {
        opacity: .3;
      }
    }
  }

  .fs-chip-drag-container {
    display: flex;
  }
}

::ng-deep {
  .fs-chip-drag-container {
    display: flex;
    align-items: center;

    .selected-check {
      display: none !important;
    }

    &.fs-chip-drag-preview {
      display: flex;
      overflow: visible;

      .select-button {
        visibility: hidden;
      }

      &.chip-container .fs-chip {
        box-shadow: 3px 3px 3px 0px rgba(196,196,196,1);
      }
    }

    &.chips-selectable {
      .chip-handle {
        order: 10;
      }
    }

    .select-button,
    .chip-handle {
      color: inherit;
      display: flex;
      align-items: center;
    }

    .select-button {
      margin-right: 5px;

      &.select-button-selected {
        mat-icon {
          color: fs-styles.$success-color;
        }
      }

      &.select-button-unselected {
        mat-icon {
          color: #ddd;
        }
      }
    }

    .chip-handle:not(.visible) {
      visibility: hidden;
    }
  }
}

