@if (sortable) {
  <div
      class="fs-chips chips-sortable"
      [style.width]="width"
      cdkDropList
      [cdkDropListLockAxis]="'y'"
      [cdkDropListSortPredicate]="sortPredicate"
      (cdkDropListDropped)="drop($event)">
    @for (chip of chips; track chip) {
      <div
          cdkDrag
          class="fs-chip-drag-container"
          [class.chips-selectable]="!!selectable"
          [cdkDragPreviewClass]="'fs-chip-drag-preview'">
        <a
            class="chip-handle"
            mat-icon-button
            [ngClass]="{ 'visible': (selectable && chip.selected) || (!selectable && sortable) }"
            cdkDragHandle>
          <mat-icon>
            drag_indicator
          </mat-icon>
        </a>
        @if (selectable) {
          @if (chip.selected) {
            <a
                class="select-button select-button-selected"
                (click)="unselect(chip)"
                mat-icon-button>
              <mat-icon>
                check_box
              </mat-icon>
            </a>
          } @else {
            <a
                class="select-button select-button-unselected"
                (click)="select(chip)"
                mat-icon-button>
              <mat-icon>
                check_box_outline_blank
              </mat-icon>
            </a>
          }
        }
        <ng-component [ngTemplateOutlet]="chip.templateRef"></ng-component>
      </div>
    }
  </div>
} @else {
  <div
      class="fs-chips"
      [style.width]="width">
    @for (chip of chips; track chip) {
      <div class="chip-container">
        <ng-component [ngTemplateOutlet]="chip.templateRef"></ng-component>
      </div>
    }
  </div>
}