@use '@firestitch/style/styles' as fs-styles;

::ng-deep {
  .fs-chip-container {
    &.orientation-vertical {
      display: flex;
      align-items: center;
      width: 100%;
      
      .selected-check {
        display: none !important;
      }
    }
  }
}


.fs-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%;

  &.orientation-vertical {
    gap: 8px;
    flex-direction: column;
  }
  
  &.chips-sortable {
    ::ng-deep {
      .cdk-drag-placeholder {
        opacity: .3;
      }
    }
  }

  .fs-chip-drag-container {
    display: flex;
  }
    
  ::ng-deep {
    .cdk-drag-placeholder {
      opacity: .5;
    }
  }
}

::ng-deep {
  .fs-chip-drag-container {
    display: flex;
    align-items: center;

    &.fs-chip-drag-preview {
      display: flex;
      overflow: visible;

      .select-button {
        visibility: hidden;
      }

      &.fs-chip-container .fs-chip {
        box-shadow: 3px 3px 3px 0px rgba(196,196,196,1);
      }
    }

    &.chips-selectable {
      .chip-handle {
        order: 10;
      }
    }

    .select-button,
    .chip-handle {
      color: inherit;
      display: flex;
      align-items: center;
    }

    .select-button {
      margin-right: 5px;

      &.select-button-selected {
        mat-icon {
          color: fs-styles.$success-color;
        }
      }

      &.select-button-unselected {
        mat-icon {
          color: #ddd;
        }
      }
    }

    .chip-handle:not(.visible) {
      visibility: hidden;
    }
  }
}

