<ng-template>
  <div
      class="fs-chip"
      (click)="click()"
      [style.backgroundColor]="outlined ? 'transparent' : backgroundColor || defaultBackgroundColor"
      [style.padding]="padding"
      [style.borderColor]="borderColor || (outlined && color ? color : null)"
      [style.width]="width"
      [style.color]="color || contrastColor || defaultColor"
      [class.actionable]="chipSuffixes.length !== 0 || (removed.observed && removable)"
      [class.shape-round]="shape === 'round'"
      [class.shape-square]="shape === 'square'"
      [class.size-small]="size === 'small'"
      [class.size-tiny]="size === 'tiny'"
      [class.size-micro]="size === 'micro'"
      [class.size-large]="size === 'large'"
      [class.selectable]="selectable"
      [class.removable]="removable"
      [class.iconed]="!!icon"
      [class.imaged]="!!image"
      [class.outlined]="outlined"
      [class.selected]="selected"
      [class.sub-content]="!!chipSubcontentTemplateRef">
    @if (image) {
      <img
        [src]="image"
        class="image"
        alt="">
    }
    @if (icon) {
      <mat-icon class="icon">
        {{ icon }}
      </mat-icon>
    }
    <div
        class="fs-chip-content"
        [ngStyle]="{ 'max-width': maxWidth }">
      <ng-content></ng-content>
      @if (chipSubcontentTemplateRef) {
        <div class="fs-chip-subcontent">
          <ng-container *ngTemplateOutlet="chipSubcontentTemplateRef"></ng-container>
        </div>
      }
    </div>
    @if (selected) {
      <div class="selected-check">
        <mat-icon [style.color]="color || contrastColor || defaultColor">
          check
        </mat-icon>
      </div>
    }
    @if (chipSuffixes.length !== 0 || (removed.observed && removable)) {
      <div class="actions">
        @for (chipSuffix of chipSuffixes; track chipSuffix) {
          <fs-chip-suffix
              [ngClass]="{ 'clickable': chipSuffix.click.observers.length }"
              [icon]="chipSuffix.icon"
              [link]="chipSuffix.link"
              [linkTarget]="chipSuffix.linkTarget"
              [color]="chipSuffix.color || color || contrastColor || defaultColor"
              [show]="chipSuffix.show"
              [tooltip]="chipSuffix.tooltip"
              (click)="chipSuffixClick(chipSuffix, $event)">
            <ng-container *ngTemplateOutlet="chipSuffix.templateRef"></ng-container>
          </fs-chip-suffix>
        }
        @if (removed.observed && removable) {
          <fs-chip-suffix
            [ngClass]="{ 'clickable': true }"
            [icon]="'remove_circle_outline'"
            [color]="color || contrastColor || defaultColor"
            (click)="remove($event)">
          </fs-chip-suffix>
        }
      </div>
    }
  </div>
</ng-template>
@if (!hasChips) {
  <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
}