<ng-template>
  <div
      class="fs-chip"
      (click)="click()"
      [ngStyle]="styles"
      [ngClass]="classes">
    <ng-container *ngIf="image">
      <img
        [src]="image"
        class="image"
        alt="">
    </ng-container>
    <ng-container *ngIf="icon">
      <mat-icon class="icon">
        {{ icon }}
      </mat-icon>
    </ng-container>
    <div
        class="fs-chip-content"
        [ngStyle]="{ 'max-width': maxWidth }">
      <ng-content></ng-content>
    </div>
    @if (selected) {
      <div class="selected-check">
        <mat-icon [style.color]="styles.color">
          check
        </mat-icon>
      </div>
    }
    @if (actions) {
      <div class="actions">
        @for (action of actions; track action.icon) {
          <fs-chip-action
            [icon]="action.icon"
            [link]="action.link"
            [linkTarget]="action.linkTarget"
            [color]="styles.color"
            (actionClick)="actionClick(action, $event)">
          </fs-chip-action>
        }
      </div>
    }
  </div>
</ng-template>
@if (!hasChips) {
  <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
}