:host {
  display: flex;
  min-width: 0;
}

.fs-chip {
  user-select: none;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  align-items: center;
  min-height: 30px;
  overflow: hidden;
  padding: 0px 10px;
  min-width: 0;
  box-sizing: border-box;

  &.shape-round {
    border-radius: 16px;

    &.imaged {
      overflow: visible;
      padding-left: 0;
      vertical-align: middle;

      &.outlined .image {
        margin-left: -2px;
      }
    }
  }

  &.shape-square {
    border-radius: 5px;
    padding: 0 8px;

    .image {
      padding: 5% 0;
    }   
  }

  &.iconed:not(.imaged) {
    padding-left: 5px;
  }

  &.selectable {
    cursor: pointer;
  }

  &.outlined {
    border: 1px solid #f0f0f0;
    box-sizing: border-box;

    &.outline-dash {
      border-style: dashed;
    }

    &.clickable {
      &:hover {
        background-color: #efefef;
      }
    }
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }

  &.sub-content .fs-chip-content{
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .icon {
    margin-right: 5px;
  }

  ::ng-deep mat-icon {
    font-size: 25px;
  }

  .prefixes {
    display: flex;
    flex-direction: row;
    margin-right: 3px;

    fs-chip-prefix {
      margin-right: 2px;
    }
  }
  
  .suffixes {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
  }

  .image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -1px;
    margin-right: 8px;
  }

  .fs-chip-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    line-height: normal;

    .fs-chip-subcontent {
      font-size: 85%;
    }
    
  }

  .selected-check {
    margin: 0 3px 0 3px;
    display: flex;
  }

  fs-chip-suffix {
    display: flex;
    align-items: center;

    + fs-chip-suffix {
      margin-left: 2px;
    }
  }

  fs-chip-suffix,
  fs-chip-prefix {
    &.clickable {
      cursor: pointer;
      &:hover {
        filter: brightness(200%);
      }
    }
  }

  &:not(.shape-square) {
    &.suffixable,
    &.selected {
      padding-right: 0;
    }
    
    fs-chip-suffix:last-child {
      margin-right: 3px;
    }
  }
  
  &.shape-square {
    fs-chip-suffix:last-child {
      margin-right: -3px;
    }
  }

  &.size-large {
    &.prefixable:not(.imaged) {
      padding-left: 4px;
    }

    ::ng-deep mat-icon {
      height: 22px;
      width: 22px;
      font-size: 22px;
    }
  }

  &.size-medium {
    padding: 0 8px;
    font-size: 90%;
    min-height: 25px;
    line-height: normal;

    .image {
      height: 26px;
      width: 26px;
      margin-right: 6px;
    }

    &.prefixable:not(.imaged) {
      padding-left: 4px;
    }

    &.iconed:not(.imaged) {
      padding-left: 5px;
    }

    &.shape-round {
      &.imaged {
        padding-left: 0;
      }
    }

    .selected-check {
      mat-icon {
        transform: scale(.8);
      }
    }

    ::ng-deep mat-icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
    }
  }

  &.size-small {
    padding: 0 8px;
    font-size: 85%;
    min-height: 24px;
    line-height: normal;

    .image {
      height: 24px;
      width: 24px;
      margin-right: 5px;
    }

    &.prefixable:not(.imaged) {
      padding-left: 3px;
    }

    &.iconed:not(.imaged) {
      padding-left: 4px;
    }

    &.shape-round {
      &.imaged {
        padding-left: 0;
      }
    }

    .selected-check {
      mat-icon {
        transform: scale(.7);
      }
    }

    ::ng-deep mat-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
    }
  }

  &.size-tiny {
    padding: 0 6px;
    min-height: 18px;
    line-height: normal;

    .fs-chip-content {
      font-size: 75%;
    }

    &.prefixable:not(.imaged) {
      padding-left: 2px;
    }

    .image {
      height: 18px;
      width: 18px;
      margin-right: 3px;
    }

    &.iconed:not(.imaged) {
      padding-left: 3px;
    }

    fs-chip-suffix {
      margin-left: 2px;
    }

    &.shape-round {
      &.imaged {
        padding-left: 0;
      }
    }

    ::ng-deep mat-icon {
      height: 14px;
      width: 14px;
      font-size: 14px;
    }
  }

  &.size-micro {
    padding: 0 5px;
    min-height: 16px;
    line-height: normal;

    .fs-chip-content {
      font-size: 65%;
    }

    &.prefixable:not(.imaged) {
      padding-left: 2px;
    }

    .image {
      height: 100%;
      width: 16px;
      margin-right: 2px;
    }

    fs-chip-suffix {
      margin-left: 1px;
    }

    &.shape-round {
      &.imaged {
        padding-left: 0;
      }
    }

    ::ng-deep mat-icon {
      width: 12px;
      height: 12px;
      font-size: 11px;
    }
  }
}