  <fs-chips
    [orientation]="'vertical'"
    [(ngModel)]="selected"
    [compare]="compare"
    [name]="'chips'"
    [selectable]="true"
    [sortable]="true">
  @for (chip of chips; track chip) {
    <fs-chip
        #chipComponent
        [value]="chip"
        [width]="'100%'">
      {{ chip.name }}
      @if (chipComponent.selected) {
        <ng-template
          fsChipSuffix
          [icon]="'edit'"
          (click)="suffixClick($event)">
        </ng-template>
      }
    </fs-chip>
  }
</fs-chips>
<br>
<fs-label>
  Selected
</fs-label>
{{ selected | json }}